.background-color-black {
  background-color: #000;
}
.background-color-white {
  background-color: #fff;
}
.background-color-blue-10 {
  background-color: var(--blue-10);
}
.background-color-blue-20 {
  background-color: var(--blue-20);
}
.background-color-blue-30 {
  background-color: var(--blue-30);
}
.background-color-blue-40 {
  background-color: var(--blue-40);
}
.background-color-blue-50 {
  background-color: var(--blue-50);
}
.background-color-blue-60 {
  background-color: var(--blue-60);
}
.background-color-gray-10 {
  background-color: var(--gray-10);
}
.background-color-gray-20 {
  background-color: var(--gray-20);
}
.background-color-gray-30 {
  background-color: var(--gray-30);
}
.background-color-gray-40 {
  background-color: var(--gray-40);
}
.background-color-gray-50 {
  background-color: var(--gray-50);
}
.background-color-gray-60 {
  background-color: var(--gray-60);
}
