.border-style-solid {
  border-style: solid;
}
.border-style-dashed {
  border-style: dashed;
}
.border-style-dotted {
  border-style: dotted;
}
.border-style-double {
  border-style: double;
}
.border-style-groove {
  border-style: groove;
}
.border-style-ridge {
  border-style: ridge;
}
.border-style-inset {
  border-style: inset;
}
.border-style-outset {
  border-style: outset;
}
.border-style-none {
  border-style: none;
}
.border-style-hidden {
  border-style: hidden;
}
.border-style-initial {
  border-style: initial;
}
.border-style-inherit {
  border-style: inherit;
}
