.border-top-1px {
  border-top: 1px;
}
.border-top-2px {
  border-top: 2px;
}
.border-top-3px {
  border-top: 3px;
}
.border-top-4px {
  border-top: 4px;
}
.border-top-5px {
  border-top: 5px;
}
.border-top-6px {
  border-top: 6px;
}
.border-top-7px {
  border-top: 7px;
}
.border-top-8px {
  border-top: 8px;
}
.border-top-9px {
  border-top: 9px;
}
.border-top-10px {
  border-top: 10px;
}
