.border-color-gray-10 {
  border-color: var(--gray-10);
}
.border-color-gray-20 {
  border-color: var(--gray-20);
}
.border-color-gray-30 {
  border-color: var(--gray-30);
}
.border-color-gray-40 {
  border-color: var(--gray-40);
}
.border-color-gray-50 {
  border-color: var(--gray-50);
}
.border-color-gray-60 {
  border-color: var(--gray-60);
}
