.border_color_none {
  border-color: none;
}
.border-color-black {
  border-color: #000;
}
.border-color-white {
  border-color: #fff;
}
.border-color-transparent {
  border-color: transparent;
}
.border-color-gray-10 {
  border-color: var(--gray-10);
}
.border-color-gray-15 {
  border-color: var(--gray-15);
}
.border-color-gray-20 {
  border-color: var(--gray-20);
}
.border-color-gray-25 {
  border-color: var(--gray-25);
}
.border-color-gray-30 {
  border-color: var(--gray-30);
}
.border-color-gray-35 {
  border-color: var(--gray-35);
}
.border-color-gray-40 {
  border-color: var(--gray-40);
}
.border-color-gray-45 {
  border-color: var(--gray-45);
}
.border-color-gray-50 {
  border-color: var(--gray-50);
}
.border-color-gray-55 {
  border-color: var(--gray-55);
}
.border-color-gray-60 {
  border-color: var(--gray-60);
}
