:root {
  --blue-100: #2196f3;
  --blue-125: #39f;
  --blue-150: #3382b0;
  --blue-200: #2f7fac;
  --blue-300: #215777;
  --blue-400: #154765;
  --gray-10: #eceeef;
  --gray-15: #f7f7f9;
  --gray-50: #ced4da;
  --gray-75: #bdbdbd;
  --gray-100: #f9f9f9;
  --gray-125: #eee;
  --gray-150: #efefef;
  --gray-175: #ddd;
  --gray-200: #d8d8d8;
  --gray-250: #cdcdcd;
  --gray-300: #ccc;
  --gray-400: #aaa;
  --gray-500: #90949c;
  --gray-600: #6c757d;
  --red-100: #dc3546;
  --green-100: #28a745;
  --yellow-100: #ffbf00;
}
