.color-000 {
  color: #000;
}
.color-fff {
  color: #fff;
}
.color-gray-10 {
  color: var(--gray-10);
}
.color-gray-20 {
  color: var(--gray-20);
}
.color-gray-30 {
  color: var(--gray-30);
}
.color-gray-40 {
  color: var(--gray-40);
}
.color-gray-50 {
  color: var(--gray-50);
}
.color-gray-60 {
  color: var(--gray-60);
}
.color-blue-10 {
  color: var(--blue-10);
}
.color-blue-20 {
  color: var(--blue-20);
}
.color-blue-30 {
  color: var(--blue-30);
}
.color-blue-40 {
  color: var(--blue-40);
}
.color-blue-50 {
  color: var(--blue-50);
}
.color-blue-60 {
  color: var(--blue-60);
}
.color-red-10 {
  color: var(--red-10);
}
.color-yellow-10 {
  color: var(--yellow-10);
}
.color-green-10 {
  color: var(--green-10);
}
