.fill-000 {
  fill: #000;
}
.fill-fff {
  fill: #fff;
}
.fill-gray-10 {
  fill: var(--gray-10);
}
.fill-gray-20 {
  fill: var(--gray-20);
}
.fill-gray-30 {
  fill: var(--gray-30);
}
.fill-gray-40 {
  fill: var(--gray-40);
}
.fill-gray-50 {
  fill: var(--gray-50);
}
.fill-gray-60 {
  fill: var(--gray-60);
}
.fill-blue-10 {
  fill: var(--blue-10);
}
.fill-blue-20 {
  fill: var(--blue-20);
}
.fill-blue-30 {
  fill: var(--blue-30);
}
.fill-blue-40 {
  fill: var(--blue-40);
}
.fill-blue-50 {
  fill: var(--blue-50);
}
.fill-blue-60 {
  fill: var(--blue-60);
}
.fill-red-10 {
  fill: var(--red-10);
}
.fill-yellow-10 {
  fill: var(--yellow-10);
}
.fill-green-10 {
  fill: var(--green-10);
}
