.filter-opacity-10 {
  filter: opacity(10%);
}
.filter-opacity-20 {
  filter: opacity(20%);
}
.filter-opacity-30 {
  filter: opacity(30%);
}
.filter-opacity-40 {
  filter: opacity(40%);
}
.filter-opacity-50 {
  filter: opacity(50%);
}
.filter-opacity-60 {
  filter: opacity(60%);
}
.filter-opacity-70 {
  filter: opacity(70%);
}
.filter-opacity-80 {
  filter: opacity(80%);
}
.filter-opacity-90 {
  filter: opacity(90%);
}
.filter-opacity-100 {
  filter: opacity(100%);
}
