.hover-brightness-10 {
  &:hover {
    filter: brightness(10%);
  }
}
.hover-brightness-20 {
  &:hover {
    filter: brightness(20%);
  }
}
.hover-brightness-30 {
  &:hover {
    filter: brightness(30%);
  }
}
.hover-brightness-40 {
  &:hover {
    filter: brightness(40%);
  }
}
.hover-brightness-50 {
  &:hover {
    filter: brightness(50%);
  }
}
.hover-brightness-60 {
  &:hover {
    filter: brightness(60%);
  }
}
.hover-brightness-70 {
  &:hover {
    filter: brightness(70%);
  }
}
.hover-brightness-80 {
  &:hover {
    filter: brightness(80%);
  }
}
.hover-brightness-90 {
  &:hover {
    filter: brightness(90%);
  }
}
