.margin-1rem {
  margin: 1rem;
}
.margin-2rem {
  margin: 2rem;
}
.margin-3rem {
  margin: 3rem;
}
.margin-4rem {
  margin: 4rem;
}
.margin-5rem {
  margin: 5rem;
}
.margin-6rem {
  margin: 6rem;
}
.margin-7rem {
  margin: 7rem;
}
.margin-8rem {
  margin: 8rem;
}
.margin-9rem {
  margin: 9rem;
}
.margin-10rem {
  margin: 10rem;
}
.margin-11rem {
  margin: 11rem;
}
.margin-12rem {
  margin: 12rem;
}
.margin-13rem {
  margin: 13rem;
}
.margin-14rem {
  margin: 14rem;
}
.margin-15rem {
  margin: 15rem;
}
.margin-auto {
  margin: auto;
}
.margin-0-auto {
  margin: 0 auto;
}




