.margin-left-1rem {
  margin-left: 1rem;
}
.margin-left-2rem {
  margin-left: 2rem;
}
.margin-left-3rem {
  margin-left: 3rem;
}
.margin-left-4rem {
  margin-left: 4rem;
}
.margin-left-5rem {
  margin-left: 5rem;
}
.margin-left-6rem {
  margin-left: 6rem;
}
.margin-left-7rem {
  margin-left: 7rem;
}
.margin-left-8rem {
  margin-left: 8rem;
}
.margin-left-9rem {
  margin-left: 9rem;
}
.margin-left-10rem {
  margin-left: 10rem;
}
.margin-left-11rem {
  margin-left: 11rem;
}
.margin-left-12rem {
  margin-left: 12rem;
}
.margin-left-13rem {
  margin-left: 13rem;
}
.margin-left-14rem {
  margin-left: 14rem;
}
.margin-left-15rem {
  margin-left: 15rem;
}
.margin-left-auto {
  margin-left: auto;
}