.padding-top-1rem {
  padding-top: 1rem;
}
.padding-top-2rem {
  padding-top: 2rem;
}
.padding-top-3rem {
  padding-top: 3rem;
}
.padding-top-4rem {
  padding-top: 4rem;
}
.padding-top-5rem {
  padding-top: 5rem;
}
.padding-top-6rem {
  padding-top: 6rem;
}
.padding-top-7rem {
  padding-top: 7rem;
}
.padding-top-8rem {
  padding-top: 8rem;
}
.padding-top-9rem {
  padding-top: 9rem;
}
.padding-top-10rem {
  padding-top: 10rem;
}