.padding-right-1rem {
  padding-right: 1rem;
}
.padding-right-2rem {
  padding-right: 2rem;
}
.padding-right-3rem {
  padding-right: 3rem;
}
.padding-right-4rem {
  padding-right: 4rem;
}
.padding-right-5rem {
  padding-right: 5rem;
}
.padding-right-6rem {
  padding-right: 6rem;
}
.padding-right-7rem {
  padding-right: 7rem;
}
.padding-right-8rem {
  padding-right: 8rem;
}
.padding-right-9rem {
  padding-right: 9rem;
}
.padding-right-10rem {
  padding-right: 10rem;
}
