.padding-top-1px {
  padding-top: 1px;
}
.padding-top-2px {
  padding-top: 2px;
}
.padding-top-3px {
  padding-top: 3px;
}
.padding-top-4px {
  padding-top: 4px;
}
.padding-top-5px {
  padding-top: 5px;
}
.padding-top-6px {
  padding-top: 6px;
}
.padding-top-7px {
  padding-top: 7px;
}
.padding-top-8px {
  padding-top: 8px;
}
.padding-top-9px {
  padding-top: 9px;
}
.padding-top-10px {
  padding-top: 10px;
}
.padding-top-1rem {
  padding-top: 1rem;
}
.padding-top-2rem {
  padding-top: 2rem;
}
.padding-top-3rem {
  padding-top: 3rem;
}
.padding-top-4rem {
  padding-top: 4rem;
}
.padding-top-5rem {
  padding-top: 5rem;
}
.padding-top-6rem {
  padding-top: 6rem;
}
.padding-top-7rem {
  padding-top: 7rem;
}
.padding-top-8rem {
  padding-top: 8rem;
}
.padding-top-9rem {
  padding-top: 9rem;
}
.padding-top-10rem {
  padding-top: 10rem;
}
