.padding-bottom-1px {
  padding-bottom: 1px;
}
.padding-bottom-2px {
  padding-bottom: 2px;
}
.padding-bottom-3px {
  padding-bottom: 3px;
}
.padding-bottom-4px {
  padding-bottom: 4px;
}
.padding-bottom-5px {
  padding-bottom: 5px;
}
.padding-bottom-6px {
  padding-bottom: 6px;
}
.padding-bottom-7px {
  padding-bottom: 7px;
}
.padding-bottom-8px {
  padding-bottom: 8px;
}
.padding-bottom-9px {
  padding-bottom: 9px;
}
.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-1rem {
  padding-bottom: 1rem;
}
.padding-bottom-2rem {
  padding-bottom: 2rem;
}
.padding-bottom-3rem {
  padding-bottom: 3rem;
}
.padding-bottom-4rem {
  padding-bottom: 4rem;
}
.padding-bottom-5rem {
  padding-bottom: 5rem;
}
.padding-bottom-6rem {
  padding-bottom: 6rem;
}
.padding-bottom-7rem {
  padding-bottom: 7rem;
}
.padding-bottom-8rem {
  padding-bottom: 8rem;
}
.padding-bottom-9rem {
  padding-bottom: 9rem;
}
.padding-bottom-10rem {
  padding-bottom: 10rem;
}