.pointer-events-auto {
  pointer-events: auto;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-initial {
  pointer-events: initial;
}
.pointer-events-inherit {
  pointer-events: inherit;
}