.stroke-black {
  stroke: #000;
}
.stroke-white {
  stroke: #fff;
}
.stroke-none {
  stroke: none;
}
.stroke-gray-10 {
  stroke: var(--gray-10);
}
.stroke-gray-15 {
  stroke: var(--gray-15);
}
.stroke-gray-20 {
  stroke: var(--gray-20);
}
.stroke-gray-25 {
  stroke: var(--gray-25);
}
.stroke-gray-30 {
  stroke: var(--gray-30);
}
.stroke-gray-35 {
  stroke: var(--gray-35);
}
.stroke-gray-40 {
  stroke: var(--gray-40);
}
.stroke-gray-45 {
  stroke: var(--gray-45);
}
.stroke-gray-50 {
  stroke: var(--gray-50);
}
.stroke-gray-60 {
  stroke: var(--gray-60);
}
.stroke-blue-10 {
  stroke: var(--blue-10);
}
.stroke-blue-20 {
  stroke: var(--blue-20);
}
.stroke-blue-30 {
  stroke: var(--blue-30);
}
.stroke-blue-40 {
  stroke: var(--blue-40);
}
.stroke-blue-50 {
  stroke: var(--blue-50);
}
.stroke-blue-60 {
  stroke: var(--blue-60);
}
.stroke-red-10 {
  stroke: var(--red-10);
}
.stroke-yellow-10 {
  stroke: var(--yellow-10);
}
.stroke-green-10 {
  stroke: var(--green-10);
}
