.text-wrap {
  text-wrap: wrap;
}
.text-wrap-nowrap {
  text-wrap: nowrap;
}
.text-wrap-balance {
  text-wrap: balance;
}
.text-wrap-pretty {
  text-wrap: pretty;
}
.text-wrap-stable {
  text-wrap: stable;
}
