.visibility-hidden {
  visibility: hidden;
}
.visibility-visible {
  visibility: visible;
}
.visibility-collapse {
  visibility: collapse;
}
.visibility-inherit {
  visibility: inherit;
}
.visibility-initial {
  visibility: initial;
}